/*
.jumbotron {
    background-color: darkblue !important;
    border-radius: 0 !important;
    color: white;
    padding-left: 50px;
    margin-top: 56px;
}
 
footer {
    background-color: lightblue;
    padding: 50px;
    margin: 20px auto 0 auto;
}

.card {
    margin: 5px 0;
}
.card-hotel {
    flex: 1 200px;
    padding: 0px;
}

.btn-reserva {
    border-radius: 0px 0px 2px 2px !important;
    width: 100%;
}

.tab-content {
    padding-top: 10px;
}
*/