.jumbotron {
  background-color: darkblue !important;
  border-radius: 0 !important;
  color: #000000;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 50px;
  margin-top: 56px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0; }

footer {
  background-color: #fffa19;
  color: #000000;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto; }

.card {
  margin-top: 5px;
  margin-right: 0;
  margin-bottom: 5px;
  margin-left: 0; }

.card-hotel {
  flex: 1 200px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }

.btn-reserva {
  border-radius: 0px 0px 2px 2px !important;
  width: 100%; }

.tab-content {
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0; }
