$yellow: #fffa19;
$black: #000000;
$blue: darkblue;
$white: #ffffff;

@mixin margins($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

.jumbotron {
    background-color: $blue !important;
    border-radius: 0 !important;
    color: $black;
    @include paddings(0, 0, 0, 50px);
    @include margins(56px, 0, 0, 0);
}
 
footer {
    background-color: $yellow;
    color: $black;
    @include paddings(50px, 50px, 50px, 50px);
    @include margins(20px, auto, 0, auto);
}

.card {
    @include margins(5px, 0 , 5px, 0);
}
.card-hotel {
    flex: 1 200px;
    @include paddings(0, 0, 0, 0);
}

.btn-reserva {
    border-radius: 0px 0px 2px 2px !important;
    width: 100%;
}

.tab-content {
    @include paddings(10px, 0, 0, 0);
}